ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {
    float: left;
}

ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.8;
}

ul > li a:hover:not(.active) {
    opacity: 1;
}

ul > li a.active {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}