h2 {
  font-family : "Oswald";
}

h1 {
  font-family: "Oswald";
}

p {
  font-family: "Open Sans";
}

body {
  color: darkblue;
  margin-top : 10px;
  margin-bottom : 10px;
  margin-left : 50px;
  margin-right : 50px;
  background-color: ivory;
}

img {
  float: left;
}